.globalHeader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  z-index: 10;

}

.headerItems {
  position: relative;
  display: block;
  width: 1140px;
  margin: auto;
  @media screen and (max-width: 1160px) {
    width: 95%;
    margin: 0 2.5%;
  }
  p {
    display: inline-block;
    width: 50%;
    &:nth-child(2) {
      text-align: right;
    }
  }
  .add-icon {
    float: right;
    width: 36px;
    height: 36px;
    img {
      width: 100%;
      height: auto;
      margin-top: 7px;
    }
  }
}

